.column-layout {
  display: flex;
  flex-direction: column;
}
.child-view-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.row-layout {
  display: flex;
}
.hero-section {
  background-color: var(--ig-surface-500);
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 400px;
  flex-shrink: 0;
}
.hero-content-container {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
}
.hero-content {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 320px;
  flex-grow: 1;
  flex-basis: 0;
}
.hero-buttons-text {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.hero-buttons {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.features-section {
  background-color: var(--ig-gray-100);
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.features-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
  flex-grow: 1;
  flex-basis: 0;
}
.features-header {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.feature-cards {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.feature-card {
  height: max-content;
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.feature-card-1-content {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.agenda-section {
  background-color: var(--ig-surface-500);
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.agenda-tabs {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.agenda-tab-day {
  min-width: 100%;
}
.day1-agenda {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.location-section {
  background-color: var(--ig-secondary-500);
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 400px;
  flex-shrink: 0;
}
.location-buttons {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.location-action-buttons {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.faq-accordion {
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 0;
}
.footer-section {
  background-color: var(--ig-gray-100);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.footer-top {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 32px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.footer-content {
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  flex-grow: 1;
  flex-basis: 0;
}
.footer-about {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.footer-logo {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.footer-social-media {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.footer-contact-email {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  width: max-content;
  height: max-content;
  flex-shrink: 0;
}
.footer-bottom {
  background-color: transparent;
  border-color: var(--ig-gray-400);
  border-width: 1px 0px 0px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0;
  position: relative;
  padding: 0 32px;
  min-height: 64px;
  flex-grow: 1;
  flex-shrink: 0;
}
.content_2 {
  color: var(--ig-gray-900);
  height: max-content;
  min-width: min-content;
}
.content {
  color: var(--ig-gray-800);
  height: max-content;
  min-width: min-content;
}
.hero-image {
  object-fit: cover;
  border-radius: 8px;
  min-width: 200px;
  min-height: 0;
  max-height: 350px;
  flex-grow: 1;
  flex-basis: 0;
}
.content_4 {
  text-align: center;
  color: var(--ig-gray-900);
  height: max-content;
  min-width: min-content;
}
.features-subtitle {
  text-align: center;
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
}
.feature-card-1-avatar {
  --ig-size: var(--ig-size-medium);
}
.icon {
  color: var(--ig-secondary-800);
}
.content_3 {
  height: max-content;
  min-width: min-content;
}
.pricing-card-1-price {
  text-align: center;
  color: var(--ig-primary-500);
  height: max-content;
  min-width: min-content;
}
.pricing-card-1-key-attribute {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.pricing-card-1-benefit-1-avatar {
  --ig-size: var(--ig-size-small);
}
.icon_1 {
  color: var(--ig-primary-500);
}
.footer-icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-secondary-500);
}
.content_5 {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
}
.footer-twitter {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-gray-600);
}
.footer-contact-email-icon {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: var(--ig-gray-600);
}
.footer-contact-email-link {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.feature-card-1-avatar_1::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_2::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_3::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_4::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_5::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_6::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_7::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_8::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_9::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_10::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.feature-card-1-avatar_11::part(base) {
  color: var(--ig-secondary-800);
  background-color: var(--ig-secondary-100);
}
.pricing-card-1-benefit-1-avatar_1::part(base) {
  color: var(--ig-primary-500);
  background-color: transparent;
}
.pricing-card-1-benefit-1-avatar_2::part(base) {
  color: var(--ig-primary-500);
  background-color: transparent;
}
.pricing-card-1-benefit-1-avatar_3::part(base) {
  color: var(--ig-primary-500);
  background-color: transparent;
}
.pricing-card-1-benefit-1-avatar_4::part(base) {
  color: var(--ig-primary-500);
  background-color: transparent;
}
.pricing-card-1-benefit-1-avatar_5::part(base) {
  color: var(--ig-primary-500);
  background-color: transparent;
}
.pricing-card-1-benefit-1-avatar_6::part(base) {
  color: var(--ig-primary-500);
  background-color: transparent;
}
.pricing-card-1-benefit-1-avatar_7::part(base) {
  color: var(--ig-primary-500);
  background-color: transparent;
}
.pricing-card-1-benefit-1-avatar_8::part(base) {
  color: var(--ig-primary-500);
  background-color: transparent;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.agenda-tab-day-1-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.get-tickets-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.feature-card-1-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.day1-list {
  height: max-content;
}
