.column-layout {
  display: flex;
  flex-direction: column;
}
.child-view-1-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.row-layout {
  display: flex;
}
.registration-form-container {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 32px;
  min-width: min-content;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.registration-form {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 320px;
  min-height: 50px;
  max-width: 560px;
  flex-grow: 1;
  flex-basis: 0;
}
.registration-inputs {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.registration-title {
  height: max-content;
  min-width: min-content;
}
.registration-email {
  height: max-content;
  min-width: min-content;
}
.registration-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
